
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Tamil:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Tamil:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Style+Script&display=swap');

*
{
    font-family: "Poppins", sans-serif;
   
    ;
    font-weight: bold;
    color: chocolate;
}
body{
    background-image: url(./pexels-adrien-olichon-1257089-2387793.jpg);
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.tlb{
    /* font-family: "Style Script", cursive; */
    margin-top: 200px;
    margin-left: 500px;
    margin-bottom: 350px;
    font-size: 70px
    ;
    color: rgb(238, 232, 227);
    text-shadow: 1px 1px 2px black, 0 0 25px rgb(255, 153, 0), 0 0 5px rgba(101, 74, 22, 0.778);
    
}
aside{
    font-size: 20px;
    margin: 40px 40px 40px 40px;
}


.padding{
    background-color: bisque;
    border: 3px solid black;
    padding: 10px 10px 10px 10px;
    text-align: center;
    border-radius: 20px ;
    width: 200px;
    align-content: center;
    box-sizing: border-box;
    margin-left: 45%;
}

h1{
    background-color: darkgray;
    width: 25%;
    padding: 5px 5px 5px 5px ;
    border-radius: 1500px;
    text-align: center;
    margin-left: 38%;
}

.new{
   /* text-align: center;
    background-color: chartreuse;*/
    color: rgb(212, 89, 89);
   

}
.new:hover{
    text-decoration-line:underline ;
    text-decoration-color:black ;
    transition: 1s;
    transition-behavior:initial;
    text-transform:capitalize;
    text-shadow: 2px 5px 5px ;

}
span{
    font-size: small;
    vertical-align: sub;

}
.PRA{
    text-indent: 50px;
    word-spacing: 10px;
    letter-spacing: 5px;
    
     /* line-height: 2px; */
     /* white-space: nowrap; */
}


h1{
    font-family: "Noto Sans Tamil", sans-serif;
    font-style: italic;
    font-size: 30px ;
    font-weight: lighter;
}
a{
    color: black;
}

a:link , a:visited{
    
    border: 2px solid red;
    border-radius: 300px;
    text-decoration: none;
    padding: 5px 10px;
    background: rgb(244, 131, 127);
    margin-left: 45%;
}

/* a:visited{
    color: chocolate;
} */

a:hover,a:active{
    color: rgb(245, 0, 0);
    background: black;
    border: 2px solid rgb(238, 236, 236);
}
/* a:active{
    color: rgb(47, 203, 175);
} */

.list{
    list-style-type: circle;
    list-style-position: intside;
}

.list2{
    list-style-type: square;
    list-style-position: inside;
    
    list-style-image: url();
}
.l{
    list-style-type: lower-latin;
}

.ul{
    background-color: rgb(182, 119, 74);
    padding:20Px;

}

ul li {
    background-color: rgb(237, 148, 148);
    padding: 20px;
    margin: 5px;
    border-radius: 300px;
    width: 100px;
}