/* selector */
*{
    margin: 0;
    padding: 0;
    text-align: center;
    font-weight: bold;
}

#idselector{
    color: red;
}

.classselctor{
    color: yellow;
}

p.green{
    color: blueviolet;
}

h1{
    color: chartreuse;
}

p,h1{
    font-size: 20px;
}
/*===========================*/
.rgb{
    color: rgb(48, 236, 14);
}
/*opaccity*/
.RGBA{
    color: rgba(234, 0,0,0.5);
}

.hex{
    color: #ff0000;
}
.hsl
{
    color: hsl(0, 45%, 25%);
}

body{
    background-color: rgb(197, 121, 27);
    background-image: url("./pexels-adrien-olichon-1257089-2387793.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.5;
   
}
p{
    color: crimson;
}

.dotted{
    border: dotted;
}
.dashed{
    /*border: dashed;*/
    border: 5px dashed rebeccapurple;
}
 .solid{
    
    border-style: double;
    border-width: thin;
    background-color: bisque;
    border-bottom-width: 4px; 
    outline-style: dashed;
    outline-color:pink ;
    outline-width: 6px;
    border-radius: 6px;
    outline-offset: 12px;
    
 }
.groove{
  /* border-style: groove;*/
   /* border-top-style: solid;
    border-bottom-style:solid ;
    border-right-style:dotted ;
    border-left-style:dotted ;
*/
    border-width: 3px 4px 6px 8px;
    border-style: solid dotted solid dotted;
}

.ridge{
    border-style: ridge;

}

.none{
    border-style: none;
}

 .hidden{
    border-style: hidden;
 }



